@charset "utf-8";
/* CSS Document */
/*h1,h2{font_-family:幼圆; font-weight:bold ;}
p{font-family:Verdana, Geneva, sans-serif ;text-indent:2em;line-height:30px}
a:link,a:visited 
	{
		display:block;
		font-weight:bold;
		font-size:14px;
		font-family:Arial, Helvetica, sans-serif;
		color:#FFF;
		width:150px;
		text-align:justify;
		padding:4px;
		text-decoration:none;
	}
a:hover,a:active 
	{text-decoration:underline; background-color:#F00;}
ul li{list-style-type:none;}*/
/*---------------菜鸟区---------------------*/
/*---------------------全局----------------*/
*{
	margin: 20;
	padding: 0;
}
header, nav,daohang, article{display:block;}
body {
	background:#fff;
	font-family:Arial,Helvetica,sans-serif;
}
html {min-width:1000px}
html,body {height:100%}

/*内容区文本、颜色*/
.content{
	font-family: Verdana, Geneva, sans-serif;
	text-indent: 2em;
	position: relative;
	line-height: 30px;
	margin-top: 50px;
	font-style: italic;
	left: 0;
	background:rgba(0,153,204,1);
	}
/*段落*/
.content p{
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
}

/*-----------------一级导航------------------*/
/*定位及颜色*/
.daohang{
	position:relative;
	height:60px;
	background:rgba(255,204,0,1);
	list-style-type:none;
	}
/*一级导航定位*/	
#nav {
	position: absolute;
	/*width:1024px;
	height:208px;
	background:#0F0;*/
	margin: 10px;
	width: 100%;
	height: 150px;
}
/*一级位置*/
#nav li{
	margin: 0px;
	padding: 0 0 0px;
	border:solid 2px;
	border:rgba(255,255,255,1);
	float: left;
	position: relative;
	width:15%;
	list_style: none;
	height: 65px;
}
/*链接效果*/
#nav a{
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:#039;
	text-decoration:none;
	display:block;
	padding:8px 20px;
	margin:0;
}
/*隐藏一级菜单*/
#nav ul{
	z-index:1000;
	display:none;
	position:absolute;
	padding-top:10px;
}
/*鼠标经过效果*/
#nav  a:hover {
	color:rgba(255,0,0,1);
	
}
#nav li:hover>ul{display:block;}
/*菜单处理*/
#nav ul li{
	width:120px;
	text-align:center;
	list-style-type:none;
	background:rgba(255,204,0,1);
	float:none;
	margin:-5px;
	padding:0;
}
/*--------------二级导航------------*/
/*定位及颜色*/
.daohang2{
	margin:20px;
	position:relative;
	height:55px;
	background:rgba(255,255,0,1);
	list-style-type:none;
	}
/*二级导航定位*/
#nav2 {
	position: absolute;
	/*width:1024px;
	height:208px;
	background:#0F0;*/
	margin: 10px;
	width: 100%;
	height: 120px;
}
/*二级位置*/
#nav2 li{
	margin: 0px;
	padding: 0 0 0px;
	border:solid 2px;
	border:rgba(255,255,0,1);
	float: left;
	position: relative;
	width:25%;
	list_style: none;
	height: 65px;
}
/*链接效果*/
#nav2 a{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	color:#039;
	text-decoration:none;
	display:block;
	padding:8px 20px;
	margin:0;
}
/*隐藏二级菜单*/
#nav2 ul{
	z-index:1000;
	display:none;
	position:absolute;
	padding-top:10px;
}
/*鼠标经过效果*/
#nav2  a:hover {
	color:rgba(255,0,0,1);
	
}
#nav2 li:hover>ul{display:block;}
/*菜单处理*/
#nav2 ul li{
	width:316px;
	text-align:center;
	list-style-type:none;
	background:rgba(255,255,0,1);
	float:none;
	margin:-5px;
	padding:0;
}
/*--------------------人物简介-------------------*/
/*个人“名言”文字设置*/
#mingyan p{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:large;
	font-weight:bold;
	font-style:oblique;
	text-align:center;
}
/*简介区定位*/
.jianjie{
	position:absolute;
	left:200px;
	padding-bottom:50px;
}
/*图片*/
.photo img{
	width:450px;
	height:350px;
}
/*表格*/
.information table{
	text-align:center;
	width:450px;
	background:rgba(255,255,51,1);
	}
.information th{
	height:66px;
}
.information table,th,td{
	border:1px solid rgba(255,255,255,1);
	}
.renwu li{float:left;}

/*------------------表单部分--------------*/
/*表单定位*/
#bg{
	position: relative;
	margin-top: 55px;
	padding: 50px;
	background:rgba(255,255,255,1);
}
/*表单处理*/
form {
    background:rgba(51,255,102,1);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin:auto;
	border-color:rgba(255,255,255,1);
}
#bg li{
	text-align:center;
	list-style-type:none;
	margin:30px;
	}
form legend {
    color: rgba(102,0,0,1);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}
form fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}

/*-----------------全局----------------------*/
#current a{
	color:rgba(255,0,0,1);
}
#current2 a{
	color:rgba(255,0,0,1);
}
#current2 ul a{
	color:#039;
	}
.content p{font-style:normal;font-weight:normal;font-family:Arial, Helvetica, sans-serif}
ul { list-style-type:none;}





